@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&display=swap');

/*page and button settings*/
*{
    margin:0;
    padding:0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.main-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 100%;
}
.landingpage-section {
  margin: 30px 0px;
  font-size: 2rem;
}
.landingpage-buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  margin:0px 0px 40px;
}
.read-our-history,
.book-table-landing{
    background-color:#e9d8c5 ;
    border: dotted 1px #DCAE53 ;
    padding: 2px 15px;
    color:#9a927c;
}
.read-our-history:hover,
.book-table-landing:hover{
    background-color:#96A777 ;
}
.welcome-message{
  color:#ae780c;
}
/* photo settings*/

.photo1 {
  width: 100%;
  height: 50%;
  transition: transform 0.5s ease-in-out;
  align-items:center;
  object-fit:cover;
}
.photos{
    width: 100%;
    height: 120%;
    border-radius: 5%;
}

.carousel-container{
    display: flex;
    justify-content: center;
}

.back-next-button{
display: flex;
justify-content:space-evenly;
gap:50rem;
}
.carousel{
    height: 60vh;
}

.back-button-carousel, .next-button-carousel{
    background-color: #e9d8c5;
    color:#96A777;
    padding:5px;
}
.back-button-carousel:hover, 
.next-button-carousel:hover{
    background-color:#e9d8c5;
    color:#9a927c;
}





