@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&display=swap');

body {
  margin: 0;
  padding: 0;
}
.home,
.booking,
.contact,
.about {
  color: #ae780c;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-weight: 200;
}
.home:hover,
.booking:hover,
.contact:hover,
.about:hover {
  color: #6F5F32;
}
.home:active {
  color: #9a927c;
}
.booking:active {
  color: #9a927c;
}
.contact:active {
  color: #9a927c;
}
.about:active {
  color: #9a927c;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 95%;
  gap: 50px;
}
.button_section{
    display: flex;
    gap:20px;
    align-items:end;
}
.login,
.signup{
  padding:5px 20px;
}

