/*Colours to use
#DFBE9B - sand
#DCAE53 - mustard
#A35730 - brown
#6F5F32 - light green
#233627 - dark green
#96A777 - button
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&display=swap');

*{
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #e9d8c5;
  color:#ae780c;
}
img{
  border-radius: 10px;
}

button{
  font-size: 1.3rem;
  border: none;
  border-radius: 2rem;
  background-color: #b5c696;
  padding:15px 20px;
  color:#506254;
  font-weight: 150;
}
button:hover{
  background-color: #5B804E;
  color:rgb(54, 69, 79);
  transition: all ease-in 200ms;
  cursor: pointer;
}